<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
Hello my friend!
You should upload file with numbers to our server and choose one of the varients for sorting.
Text in file should be like this:1,5,18,23,6,3,19
<form action="{% url 'send' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <input type="radio" name="Variant" value="Bubble">
    <label for="Bubble">Bubble</label>
    <input type="radio" name="Variant" value="Insertion">
    <label for="Insertion">Insertion</label>
    <input type="radio" name="Variant" value="Merge">
    <label for="Merge">Merge</label>
    <input type="submit" value="Download`">
</form>
</body>
</html>